[user]
	name = Junior DUSSOUILLEZ
	email = <email>
	signingKey = <signingkey>
[color]
	ui = true
[push]
	default = matching
[core]
	editor = emacs
	autocrlf = false
[commit]
	gpgsign = true
	template = ~/configuration/git-commit-msg-template/commit-msg-template.txt
	cleanup = strip
[diff]
	tool = meld
[merge]
	tool = meld
[tag]
	forceSignAnnotated = true
