[user]
    name = Junior DUSSOUILLEZ
    email = <email>
    signingKey = <signingkey>
[color]
    ui = true
[push]
    default = matching
[core]
    editor = emacs
    autocrlf = false
    symlinks = true
    hookspath = /home/junior/dev/app/hifi-stack/.husky
    excludesFile = ~/.gitignore
[commit]
    gpgsign = true
    cleanup = strip
[diff]
    tool = meld
[merge]
    tool = meld
[tag]
    forceSignAnnotated = true
[gpg]
    program = gpg
    format = openpgp
[init]
    defaultBranch = master
[gpg "ssh"]
    program = ssh-keygen
    allowedSignersFile = ""

